
/** CUSTOM CSS **/

#header-wrapper {
	/** background:blue; **/
}

.selected-menu {
	border: solid 3px white;
	border-radius : 30% ;
	font-weight : bold ;
	background: #b1ced8;
	color:#257591;
	margin: 1px;
}

/** HOME **/
#introduction {
	margin: 0px 0px 0px -10px;
	position: relative;
	padding: 10px;
	height : 420px ;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#introduction > div {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

#introduction > div > img { 
	width : 50% ;
	height : 100% ;
	float:left;
}

#introduction > div > div { 
	width : 48.5% ;
	float:right;
	height : 400px ;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#try_online_shell {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	padding: 10px;
}

/** FOOTER **/

#footer .copyright {
	color : white ;
}

#footer .icons li {
	display: inline-block;
	height: 3.5em;
	padding: 0 0.3em;
	text-decoration: none;
}

#footer .icons li .icon {
	font-size: 2.0em;
}

#footer-sitemap {
	display: flex;
	color : white ;
	flex-wrap: wrap;
	margin:1%;
	margin-bottom: 50px;
	position:relative;
	align-items: flex-start;
}

#footer-sitemap ul {
	text-decoration: none;
	width:310px;
}

#footer-sitemap ul li a:hover {
	color:#132138;
	font-weight : bold ;
}

#footer-sitemap ul span { 
	color : #132138 ;
	font-weight : bold ;
}

/** CONTRIBUTORS PAGE **/

.wrapper #main {
	margin-top:-7%;
	text-align:center;
}

#contributor-profiles ul {
	padding: 0;
	margin-top:-8%;
	margin-left: 25%; /** hack to center profile icons for now **/
	border: solid 1px white;
	border-radius : 4px ;
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	text-align:center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	text-decoration: none;
}

#contributor-profiles ul li {
	margin:1.0%;
	display: inline-block;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
	text-decoration: none;
}

#contributor-profiles ul li .icon {
	font-size: 0.8em;
}

#contributor-profiles ul li .icon:before {
	font-size: 2em;
}

/** INDEX PAGE **/

#sidebar .actions .button {
	margin-top: 2.5%;
	width: 100%;
}

.icon.major {
	background: #272833;
	border-radius: 100%;
	cursor: default;
	display: inline-block;
	height: 6em;
	line-height: 6em;
	margin: 0 0 2em 0;
	text-align: center;
	width: 6em;
}

/** KEYWORD SYNTAX **/

code {
		background: rgba(25, 45, 211, 0.075);
		border-radius: 4px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
		font-weight:700;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

display-keyword {
	color : blue ;
}

literal-keyword {
	color : dark-gray ;
}



