
/** CUSTOM CSS **/

.wrapper #main {
	margin-top:-7%;
	text-align:center;
}

.icon.major {
	background: #272833;
	border-radius: 100%;
	cursor: default;
	display: inline-block;
	height: 6em;
	line-height: 6em;
	margin: 0 0 2em 0;
	text-align: center;
	width: 6em;
}